# This crontab is reloaded when the container starts up (via dockerfile CMD).

* * * * * echo "hello" >> /mylogs/cron.log 2>&1
* * * * * /usr/local/bin/python "/cron_data/01-echo.py" >> /mylogs/pythoncron.log 2>&1
* * * * * wget http://127.0.0.1:$FLASK_RUN_PORT/test_log
